.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

circle {
  fill: #8e6c8a;
  opacity: 0.9;
  stroke: white
}

svg {
  font: times;
}

.tick text {
  font-size: 1.2em;
  fill: #1e1f26;
  padding-top: 2em;
}

.tick line {
  stroke: #ffffff;
  opacity: 0.5;

}
.axis-label {
  font-size: 1.5em;
  fill: #8e8883;
  font-weight: bold;
}

.title {
  font-size: 3em;
  fill: #635f5d;
   

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}
